In [534]:
# Import modules
import pandas as pd


df = pd.DataFrame({'name': [['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],['Jason', 'Molly', 'Tina', 'Jake']]})
df

df2 = pd.DataFrame({'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],'wt': ['1', '2', '3', '4', '5']})
df2


from functools import reduce

for row in df['name']:
    #for name in list

    for n, i in enumerate(row):
        #set value = match value wt
        row[n] = (df2['wt'].loc[df2['name'] == i])  
    
df['name'].head()
        #if i == "Jason":
            #row[n] = "Elizabeth"

0    [[1], [2], [3], [4], [5]]
1         [[1], [2], [3], [4]]
Name: name, dtype: object

In [540]:
def weight(data):
    wt = 0
    for row in data:
        for x in row:
            wt = wt + int(x)   
            print(wt)
    return wt
            
df['wt'] = df['name'].apply(weight)
    
df.head()

1
3
6
10
15
1
3
6
10

                        name  wt
0  [[1], [2], [3], [4], [5]]  15
1       [[1], [2], [3], [4]]  10

In [ ]:
for row in df['name']:
        wt = 0
        for x in row:
            wt = wt + int(x)   
            print(wt)
            df['wt'] = wt
df.head()

In [464]:
List = [[1], 
        [4], 
        [7]]

In [465]:
# Printing list of list 
print("Initial List - ", str(List))

Initial List -  [[1], [4], [7]]

In [466]:
# Using list comprehension 
res = [sum(i) for i in zip(*List)]     
# printing result 
print("final list - ", str(res))

final list -  [12]