In [15]:
import pandas as pd
import os
import ast
import numpy as np

In [2]:
#Read in data from csv files
train_df = pd.read_csv("train.csv")

#Take a glimpse at the data
train_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [3]:
#Determine how many rows I'm working with for each column
train_df.count()

id                       3000
belongs_to_collection     604
budget                   3000
genres                   2993
homepage                  946
imdb_id                  3000
original_language        3000
original_title           3000
overview                 2992
popularity               3000
poster_path              2999
production_companies     2844
production_countries     2945
release_date             3000
runtime                  2998
spoken_languages         2980
status                   3000
tagline                  2403
title                    3000
Keywords                 2724
cast                     2987
crew                     2984
revenue                  3000
dtype: int64

In [4]:
#Drop unwanted columns from dataframe
#train_df.drop(["belongs_to_collection",
#           "homepage",
#           "imdb_id",
#           "original_language",
#           "original_title",
#           "overview",
#           "poster_path",
#           "spoken_languages",
#           "status",
#           "Keywords",
#           "cast",
#           "crew"
#          ], axis = 1, inplace = True)

In [5]:
# train_df.count()

In [6]:
# #Remove missing values
# train_df = train_df.dropna(how='any')

# #See if removing the missing values evened out the data
# train_df.count()

In [7]:
#Rename columns to keep column headers less than 20 characters
train_df=train_df.rename(columns = {
    'id':'ID',
    'budget':'Budget',
    'genres':'Genres',
    'popularity':'Popularity',
    'production_companies':'Prod_Co',
    'production_countries':'Prod_Ctry',
    'release_date':'Release_Date',
    'runtime':'Runtime',
    'tagline':'Tagline',
    'title':'Title',
    'revenue':'Revenue',
    'belongs_to_collection' : 'Collection',
    'homepage': 'Homepage',
    'imdb_id': 'IMDB_ID',
    'original_language': 'Orig_Lang',
    'original_title': 'Orig_Title',
    'overview': 'Overview',
    'poster_path': 'Poster_Path',
    'spoken_languages': 'Spok_Lang',
    'status': 'Status',
    'Keywords': 'Keywords',
    'cast': 'Cast',
    'crew': 'Crew',
    })
train_df.head()

,ID,Collection,Budget,Genres,Homepage,IMDB_ID,Orig_Lang,Orig_Title,Overview,Popularity,...,Release_Date,Runtime,Spok_Lang,Status,Tagline,Title,Keywords,Cast,Crew,Revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [8]:
#Reorder the columns in the dataframe
train_df = train_df[[
    'IMDB_ID', #Primary Key
    'Status', #Categorize 
    'Release_Date', #Keep as date
    'Budget', #Keep but consider what to do with 0's
    'Revenue', #Keep
    'Genres', #Split Out to ID and Genre
    'Popularity', #Assign Value
    'Prod_Co', #Count of
    'Prod_Ctry', #Categorize based on ID
    'Runtime', #Keep as minutes
    'Tagline', #Yes or No
    'Title', #Keep
    'Orig_Title', #Keep
    'Collection', #Yes or No
    'Orig_Lang', #Assign Category # to Lang
    'Spok_Lang', #Count of
    'Keywords', #Split IDs and Keywords
    'Cast', #Possibly remove
    'Crew', #Possibly remove
    'Overview', #Possible Remove
    'Poster_Path', #Possibly Remove
    'Homepage', #Possibly Remove
    'ID', #Drop ID and set IMDB ID as Index
]]
train_df.head()

,IMDB_ID,Status,Release_Date,Budget,Revenue,Genres,Popularity,Prod_Co,Prod_Ctry,Runtime,...,Collection,Orig_Lang,Spok_Lang,Keywords,Cast,Crew,Overview,Poster_Path,Homepage,ID
0,tt2637294,Released,2/20/15,14000000,12314651,"[{'id': 35, 'name': 'Comedy'}]",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",93.0,...,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...","When Lou, who has become the ""father of the In...",/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,NaN,1
1,tt0368933,Released,8/6/04,40000000,95149435,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",113.0,...,"[{'id': 107674, 'name': 'The Princess Diaries ...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",Mia Thermopolis is now a college graduate and ...,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,NaN,2
2,tt2582802,Released,10/10/14,3300000,13092000,"[{'id': 18, 'name': 'Drama'}]",64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",105.0,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","Under the direction of a ruthless instructor, ...",/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,http://sonyclassics.com/whiplash/,3
3,tt1821480,Released,3/9/12,1200000,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",122.0,...,NaN,hi,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,http://kahaanithefilm.com/,4
4,tt1380152,Released,2/5/09,0,3923970,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",118.0,...,NaN,ko,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",Marine Boy is the story of a former national s...,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,5

In [9]:
train_df.set_index('IMDB_ID')

,Status,Release_Date,Budget,Revenue,Genres,Popularity,Prod_Co,Prod_Ctry,Runtime,Tagline,...,Collection,Orig_Lang,Spok_Lang,Keywords,Cast,Crew,Overview,Poster_Path,Homepage,ID
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
tt2637294,Released,2/20/15,14000000,12314651,"[{'id': 35, 'name': 'Comedy'}]",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",93.0,The Laws of Space and Time are About to be Vio...,...,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...","When Lou, who has become the ""father of the In...",/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,NaN,1
tt0368933,Released,8/6/04,40000000,95149435,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",113.0,It can take a lifetime to find true love; she'...,...,"[{'id': 107674, 'name': 'The Princess Diaries ...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",Mia Thermopolis is now a college graduate and ...,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,NaN,2
tt2582802,Released,10/10/14,3300000,13092000,"[{'id': 18, 'name': 'Drama'}]",64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",105.0,The road to greatness can take you to the edge.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","Under the direction of a ruthless instructor, ...",/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,http://sonyclassics.com/whiplash/,3
tt1821480,Released,3/9/12,1200000,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",122.0,NaN,...,NaN,hi,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,http://kahaanithefilm.com/,4
tt1380152,Released,2/5/09,0,3923970,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",118.0,NaN,...,NaN,ko,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",Marine Boy is the story of a former national s...,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,5
tt0093743,Released,8/6/87,8000000,3261638,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",0.743274,NaN,NaN,83.0,NaN,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...","Pinocchio and his friends, a glow worm and a m...",/6IDqA1D2NBIVhzEEaMMRL28iBrq.jpg,NaN,6
tt0431021,Released,8/30/12,14000000,85446075,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",7.286477,"[{'name': 'Ghost House Pictures', 'id': 768}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",92.0,Fear The Demon That Doesn't Fear God,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",A young girl buys an antique box at a yard sal...,/4QjzFuaZmB4btGnLwAgdp23BzIU.jpg,http://www.thepossessionmovie.com/,7
tt0391024,Released,1/15/04,0,2586511,"[{'id': 99, 'name': 'Documentary'}]",1.949044,NaN,NaN,84.0,Different channels. Different truths.,...,NaN,en,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...","[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",A chronicle which provides a rare window into ...,/83BV8fGy5p9i8RwE9oj76tZ1Ikp.jpg,NaN,8
tt0117110,Released,2/16/96,0,34327391,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",6.902423,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",100.0,Set sail for Muppet mayhem!,...,"[{'id': 256377, 'name': 'The Muppet Collection...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",After telling the story of Flint's last journe...,/5A8gKzOrF9Z7tSUX6xd5dEx4NXf.jpg,NaN,9
tt0310281,Released,4/16/03,6000000,18750246,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",4.672036,"[{'name': 'Castle Rock Entertainment', 'id': 97}]","[{'iso_3166_1': 'US', 'name': 'United States o...",91.0,"Back together for the first time, again.",...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 11800, 'name': 'mockumentary'}, {'id':...","[{'cast_id': 24, 'character': 'Jonathan Steinb...","[{'credit_id': '52fe45609251416c750545b3', 'de...","In ""A Mighty Wind"", director Christopher Guest...",/xwD4EsPOGLuKP50Q1gwqAsyhAFB.jpg,NaN,10
tt0075148,Released,11/21/76,1000000,117235147,"[{'id': 18, 'name': 'Drama'}]",14.774066,"[{'name': 'United Artists', 'id': 60}]","[{'iso_3166_1': 'US', 'name': 'United States o...",119.0,His whole life was a million-to-one shot.,...,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...","When world heavyweight boxing champion, Apollo...",/i5xiwdSsrecBvO7mIfAJixeEDSg.jpg,NaN,11
tt0093857,Released,7/10/87,0,22642033,"[{'id': 35, 'name': 'Comedy'}]",10.543750,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",98.0,They're Back!,...,"[{'id': 48190, 'name': 'Revenge of the Nerds C...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",The members of the Lambda Lambda Lambda frater...,/1KTi0wJQfyi8YnAjuP1xQ0Hr9m4.jpg,NaN,12
tt0169547,Released,9/15/99,15000000,356296601,"[{'id': 18, 'name': 'Drama'}]",20.726578,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",122.0,Look closer.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...","Lester Burnham, a depressed suburban father in...",/or1MP8BZIAjqWYxPdPX724ydKar.jpg,http://www.dreamworks.com/ab/,13
tt0377471,Released,3/4/05,53000000,95226116,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",13.314233,"[{'name': 'Double Feature Films', 'id': 215}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",118.0,Everyone is looking for the next big hit,...,"[{'id': 91698, 'name': 'Chili Palmer Collectio...",en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 3605, 'name': 'baseball bat'}, {'id': ...","[{'cast_id': 4, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe43cbc3a36847f807039f', 'de...","Disenchanted with the movie industry, Chili Pa...",/ekKCH7Zkb5ZTr1f1AczZY23FH.jpg,NaN,14
tt0181689,Released,6/20/02,102000000,358372926,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",20.666063,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",145.0,The system is perfect until it comes after you.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 476, 'name': 'self-fulfilling prophecy...","[{'cast_id': 5, 'character': 'Chief John Ander...","[{'credit_id': '52fe4223c3a36847f8006f3d', 'de...",John Anderton is a top 'Precrime' cop in the l...,/h3lpltSn7Rj1eYTPQO1lYGdw4Bz.jpg,NaN,15
tt1129437,Released,10/6/10,500000,198,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",1.018477,"[{'name': 'Hypnopolis', 'id': 51316}]","[{'iso_3166_1': 'RS', 'name': 'Serbia'}]",97.0,Life is sometimes rude game: one mistake can b...,...,NaN,sr,"[{'iso_639_1': 'sr', 'name': 'Srpski'}]","[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...","[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",Novica is a mathematics champion in a Belgrade...,/88l8VBanH0lS5Wvzu2qgkGcsfQi.jpg,http://skinningmovie.com/synopsis.htm,16
tt0421239,Released,8/4/05,26000000,57891803,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",6.336927,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",85.0,Fear takes flight.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 1562, 'name': 'hostage'}, {'id': 2250,...","[{'cast_id': 1, 'character': 'Lisa Reisert', '...","[{'credit_id': '52fe44449251416c7502eb99', 'de...",After attending the funeral of her grandmother...,/rTDa8Ald7iiES01zJJkcM9ikd0l.jpg,NaN,17
tt1700845,Released,12/25/13,0,1234254,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4.183558,"[{'name': 'BBC Films', 'id': 288}, {'name': 'H...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",111.0,His greatest story was the one he could never ...,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 5565, 'name': 'biography'}, {'id': 180...","[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...","In 1857, at the height of his fame and fortune...",/cIMdqerF4DuVEYnkSQPWLc9qAc2.jpg,NaN,18
tt1487118,Released,2/2/11,8000000,1749457,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",6.496259,"[{'name': 'UK Film Council', 'id': 2452}, {'na...","[{'iso_3166_1': 'AT', 'name': 'Austria'}, {'is...",96.0,How to marry a billionaire.,...,NaN,en,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...","[{'id': 271, 'name': 'competition'}, {'id': 35...","[{'cast_id': 2, 'character': 'Kim Matthews', '...","[{'credit_id': '52fe495ac3a36847f8195d4d', 'de...",While working a job at an exclusive ski resort...,/64AQrBEKJVSIRaocOCtkMqExToz.jpg,NaN,19
tt0388482,Released,8/2/05,32000000,85167639,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",11.359659,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",87.0,The Best In The Business Is Back In The Game.,...,"[{'id': 9518, 'name': 'The Transporter Collect...",en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 779, 'name': 'martial arts'}, {'id': 1...","[{'cast_id': 1, 'character': 'Frank Martin', '...","[{'credit_id': '52fe44e9c3a36847f80b154d', 'de...",Professional driver Frank Martin is living in ...,/bZKkwfQf4mHYlNbmViNjmAN60zY.jpg,NaN,20
tt0120738,Released,4/3/98,80000000,136159423,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",12.000579,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...",130.0,"Danger, Will Robinson!",...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 26, 'character': 'Dr. Zachary Smi...","[{'credit_id': '52fe433bc3a36847f80448b9', 'de...",The prospects for continuing life on Earth in ...,/kkBDPkUnYwAkWbYY2bnyf5ANObA.jpg,NaN,21
tt0083972,Released,8/13/82,4000000,36690067,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",7.992290,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",95.0,There's nowhere to hide. We dare you to try.,...,"[{'id': 9735, 'name': 'Friday the 13th Collect...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 1889, 'name': 'lake'}, {'id': 5767, 'n...","[{'cast_id': 1, 'character': 'Chris Higgins', ...","[{'credit_id': '52fe4523c3a36847f80be885', 'de...",An idyllic summer turns into a nightmare of un...,/5wg2NZyIhcMbIBAahBODXHyJ54S.jpg,NaN,22
tt2105044,Released,7/28/12,0,100345,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",7.820787,"[{'name': 'The Collective', 'id': 15156}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",116.0,This collection is killer.,...,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",When a group of misfits is hired by an unknown...,/yo49x6Jhr1ecCjy1ByFqwAbtARJ.jpg,http://www.magnetreleasing.com/vhs/,23
tt1687277,Released,9/2/11,0,17011,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",1.323333,"[{'name': '\xa0Braeburn Entertainment', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",92.0,Fear what you see,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,"[{'cast_id': 1037, 'character': 'Det. Canto', ...","[{'credit_id': '52fe4980c3a368484e12e993', 'de...","Kaitlyn, an ER nurse who is tending to a young...",/7oJksA5Bi7UdrVZhudIg6GaHpRz.jpg,http://insightthemovie.com/,24
tt0779982,Released,9/9/06,0,4947717,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",7.434577,"[{'name': 'New Zealand Film Commission', 'id':...","[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}]",87.0,There are over 40 million sheep in New Zealand...,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 2658, 'name': 'new zealand'}, {'id': 3...","[{'cast_id': 9, 'character': 'Henry Oldfield',...","[{'credit_id': '52fe43a0c3a36847f8063031', 'de...",A genetic engineering experiment gone horribly...,/8YoL8WSHv7UKTq7iziI7SrRmdql.jpg,http://www.blacksheep-themovie.com/,25
tt0104139,Released,10/23/92,0,8403433,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",1.252367,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",95.0,The Doctor is out... of his mind.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,"[{'cast_id': 2, 'character': 'Dr. Evan Rendell...","[{'credit_id': '54b1fb3b925141144f000991', 'de...","In 1957, Evan Rendell flees after his father i...",/5JDLNXWiSCVRLur0oziJk6q5VVk.jpg,NaN,26
tt0120176,Released,9/8/97,10000000,13835130,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",4.305735,"[{'name': 'Jean Doumanian Productions', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",110.0,It's the oldest con in the book.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 811, 'name': 'dialogue'}, {'id': 2246,...","[{'cast_id': 1, 'character': 'Jimmy Dell', 'cr...","[{'credit_id': '52fe45cfc3a368484e07017d', 'de...",An employee of a corporation with a lucrative ...,/cwkWlWfFrvH6WW6ovX5gfGHo7ks.jpg,NaN,27
tt1486834,Released,9/7/13,11000000,7847000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",10.841891,"[{'name': 'Fastnet Films', 'id': 5353}, {'name...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",93.0,...being friends has its benefits?,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 10556, 'name': 'male female relationsh...","[{'cast_id': 5, 'character': 'Wallace', 'credi...","[{'credit_id': '52fe4db4c3a368484e1f8003', 'de...","Wallace, a medical school dropout, has been re...",/g5vPBCJbBX36oikg68brcl7PU5a.jpg,NaN,28
tt0092106,Released,8/8/86,6000000,5849647,"[{'id': 16, 'name': 'Animation'}]",6.759181,[{'name': 'De Laurentiis Entertainment Group (...,"[{'iso_3166_1': 'US', 'name': 'United States o...",84.0,Beyond good. Beyond evil. Beyond your wildest ...,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 4290, 'name': 'toy'}, {'id': 4375, 'na...","[{'cast_id': 10, 'character': 'Hot Rod/Rodimus...","[{'credit_id': '52fe431bc3a36847f803ab1b', 'de...",The Autobots must stop a colossal planet-consu...,/yGuQ2lz41EgjbnPeimXR9klTOoq.jpg,NaN,29
tt0264472,Released,4/7/02,45000000,94935764,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.818620,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",89.0,"An ambitious lawyer, a desperate father, they ...",...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 242, 'name': 'new york'}, {'id': 4056,...","[{'cast_id': 1, 'character': 'Gavin Banek', 'c...","[{'credit_id': '52fe42fbc3a36847f80317d5', 'de...",A rush-hour fender-bender on New York City's c...,/dCTVH1kl3aIkUmWpMT5STLAwsPs.jpg,NaN,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0103855,Released,11/25/92,25000000,411006740,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",9.805017,"[{'name': 'Tig Productions', 'id': 335}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",129.0,Never let her out of your sight. Never let you...,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 17, 'character': 'Rachel Marron',...","[{'credit_id': '52fe425ec3a36847f8019133', 'de...",A former Secret Service agent grudgingly takes...,/cbUiIu4357JQ4FBCtRJovHNv1gi.jpg,NaN,2971
tt0100201,Released,10/12/90,20000000,15379253,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",4.414928,"[{'name': 'Touchstone Pictures', 'id': 9195}]","[{'iso_3166_1': 'US', 'name': 'United States o...",110.0,Larry Burrows Wished For It All... Until All T...,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 4896, 'name': 'wish'}]","[{'cast_id': 1, 'character': 'Larry Burrows', ...","[{'credit_id': '52fe4360c3a36847f804f873', 'de...",Larry Burrows is unhappy and feels powerless o...,/6dgR1qZK3cTx90P8T6pmVCWYyko.jpg,NaN,2972
tt0482930,Released,7/27/06,0,8685526,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",4.154861,[{'name': 'China Film Co-Production Corporatio...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",94.0,NaN,...,NaN,cn,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]","[{'id': 780, 'name': 'kung fu'}]","[{'cast_id': 1, 'character': 'Dragon Wong', 'c...","[{'credit_id': '52fe46869251416c7507b08f', 'de...",Dragon Tiger Gate is a 2006 Hong Kong martial ...,/7KjTa35LiROUVWkCEEkHBALUEfB.jpg,NaN,2973
tt0089652,Released,8/9/85,0,4122748,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",3.868014,"[{'name': 'Touchstone Pictures', 'id': 9195}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",94.0,We must not destroy the world.,...,NaN,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 1, 'character': ""Michael 'Mike' H...","[{'credit_id': '52fe476e9251416c75099025', 'de...",Michael and Ellie break into a military junkya...,/fLknudxoi1qSNnvtOlNSYRYL8Hq.jpg,NaN,2974
tt0369226,Released,1/28/05,20000000,10442808,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",5.871243,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",96.0,Can mankind defeat the army of darkness unleas...,...,"[{'id': 149704, 'name': 'Alone in the Dark Col...",en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 703, 'name': 'detective'}, {'id': 1299...","[{'cast_id': 12, 'character': 'Edward Carnby',...","[{'credit_id': '52fe44bd9251416c7503f4f1', 'de...",Edward Carnby is a private investigator specia...,/3HsprIjUEwYfnlEf7jumGm037Bk.jpg,NaN,2975

In [10]:
#Save appended and cleaned dataframe to a new csv
#train_df.to_csv(r"C:\Users\halcm\Desktop\ProjectData\tmdb-box-office-prediction\cleaned_train.csv")

In [11]:
# print("raw format:", train_df.Spok_Lang.iloc[0])

# train_df.Spok_Lang = train_df.Spok_Lang.apply(lambda x: list(map(lambda d: list(d.values())[0], ast.literal_eval(x)) if isinstance(x, str) else []))

# train_df.head().Spok_Lang

raw format: [{'iso_639_1': 'en', 'name': 'English'}]

0        [en]
1        [en]
2        [en]
3    [en, hi]
4        [ko]
Name: Spok_Lang, dtype: object

In [12]:
# print("raw format:", train_df.Orig_Lang.iloc[0])

# train_df.Orig_Lang = train_df.Spok_Lang.apply(lambda x: list(map(lambda d: list(d.values())[0], ast.literal_eval(x)) if isinstance(x, str) else []))

# train_df.head().Orig_Lang

In [16]:
# Check for nulls
train_df.loc[train_df["Release_Date"].isnull()]
# There is 1 movie w/o a release date. Looking it up in imdb by imdb_id = tt0210130, it was release in march 2000
train_df.loc[train_df["Release_Date"].isnull(), "Release_Date"] = "05/01/2000"
# Parse the string to a date
train_df["Release_Date"] = pd.to_datetime(train_df["Release_Date"])
# Create columns for each part of the date
train_df["Release_Date_weekday"] = train_df["Release_Date"].dt.weekday.astype(int)
train_df["Release_Date_month"] = train_df["Release_Date"].dt.month.astype(int)
train_df["Release_Date_year"] = train_df["Release_Date"].dt.year.astype(int)
# The year is formatted as yy as opposed to yyyy, and therefore the century is sometimes incorrect.
train_df["Release_Date_year"] = np.where(train_df["Release_Date_year"]>2019, train_df["Release_Date_year"]-100, train_df["Release_Date_year"])

# There are 4 movies from the 20th century that appear as 21st century due to the issue above. Fix them.
# train_df.loc[abs(train_df["Release_Date_year"]-train_df["imdb_year"])>2, "Release_Date_year"] = train_df["imdb_year"]
# drop_column("Release_Date")